

<!DOCTYPE html>
<html lang="en-US">
<head>
	{% load static %}
	<title>Dublin Bus App</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    	table, td {
    		border: 1px solid black;
    		}
    		select.initial_hide_2
    		{
    			display: none;
    		}
    		p.initial-hide{
    			display: none;
    		}
    		select.initial_hide{
    			display: none;
    		}
    </style>
</head>
<body>
	<h1 align="center">Dublin Bus App</h1>
	<div id="map" style="width:100%;height:300px;"></div>
	Source: <input id="searchTextField" type="text" size="50" placeholder="Enter starting point" autocomplete="on" runat="server" onclick="initialize()"/> 
	Destination: <input id="searchTextField2" type="text" size="50" placeholder="Enter ending point" autocomplete="on" runat="server" onclick="initialize2()" />
	Date of Trip:
	<input id="mydate" type="date" name="tripday"  max="2019-12-31">
	Time: <input type="time" id="mytime" min="05:30" max="23:59">
	<input type="submit" name="Submit" value="Check Now" onclick="return test_func();"/>
	
	<!--This drop down is for selecting a particular bus line by the user-->
	<select class="initial_hide" id="select">
            
    </select>
    <button onclick="getLocation()">Find nearest bus stops</button>
    <button onclick="savetrip()"> Save a Trip as Favourite</button>
    <button onclick="fetchsavedtrips()"> Show Favourites</button>
    Data is<p id="test"></p>
    <br><br>
    <input type="checkbox" id="tourist" onchange="TouristMode()"> Tourist Mode
    <p id="tourist_info" class="initial-hide">Popular Places to Visit:</p>
    
    <!--This drop down is for selecting a Tourist Destination by the user-->

    <select class="initial_hide_2"  id="select2" onchange="getSelectedValue()">
           
    </select>
    <p id="showlatlng"></p>
    Saved Trips are:
	<table id="myTable">
	</table>
	<p id = "demo1"></p>
	<p id = "demo2"></p>
	<p id = "demo3"></p>
	<p id = "demo4"></p>
 	<p id = "demo5"></p>
 	<p id = "demo6"></p>
 	<p id = "demo7"></p>
 	<p id = "demo8"></p>
 	<p id = "demo9"></p>
	<p id = "demo10"></p>
 	<p id = "demo11"></p>
 	<p id = "demo12"></p>
 	<p id = "demo13"></p>
 	<p id = "demo14"></p>
  	<p id = "demo15"></p>
   	<p id = "demo16"></p>
   	<p id = "demo17"></p>

   	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> <!-- Load JQuery into the script -->

    <script type="text/javascript" src="{% static 'bus/main.js' %}"></script> <!--Load external JS file-->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBi-bH5_sngxNibrgygRZDhmAv2fK5hzus&callback=myMap&libraries=places"> </script> <!--Call Google Maps JavaScript API to load the MAP and also use the autofill complete functionality-->
</body>
</html>
